#checkout_page {
    margin-top: 30px;

    .hh-container {
        padding: 1em 3em;

        .nav-tabs {
            border: 0;

            .nav-item {
                background-color: $secondary-color;
                margin-right: 10px;
                border-radius: 0;
                border: 0;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $white-color !important;
                    border-radius: 0;
                    border: 0;
                    position: relative;

                    &.active {
                        background-color: $primary-color;
                    }

                    &::after {   
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 8px;
                        content: "✔";
                        font-size: 15px;
                        width: 20px;
                        height: 20px;
                        line-height: 22px;
                        text-align: center;
                        color: $white-color;
                        font-weight: normal;
                    }
                }
            }
        }

        form {
            padding: 0 1em;

            input {
                display: block;
                width: 100%;
                padding: 0.65em;
                margin-bottom: 20px;
                border: 1px solid #eee;
                border-radius: 0;

                &:focus {
                    border-color: $secondary-color;
                }
            }
            
            select {
                display: block;
                width: 100%;
                padding: 0.65em;
                margin-bottom: 20px;
                border: 1px solid #eee;
                border-radius: 0; 

                &:focus {
                    border-color: $secondary-color;
                }
            }

            textarea {
                display: block;
                width: 100%;
                height: 200px;
                resize: none;
                padding: 0.65em;
                margin-bottom: 20px;
                border: 1px solid #eee;
                border-radius: 0; 

                &:focus {
                    border-color: $secondary-color;
                }
            }
            
            .form-btns {
                margin-top: 20px;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;

                a {
                    display: inline-block;
                    cursor: pointer;

                    &.forgot-pass {
                        color: $primary-color;
                    }

                    &.login-btn {
                        justify-self: flex-end;
                        color: $white-color;
                    }
                }
            }
        }

        #login_page {
            margin-top: 30px;
            padding-bottom: 50px;

            h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        #address {
            margin-top: 30px;
            padding-bottom: 50px;

            h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }

            .hh-btn {
                margin-top: 30px;
                min-width: 30%;
            }
        }

        #instructions {
            margin-top: 30px;
            padding-bottom: 50px;

            h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }

            .hh-btn {
                margin-top: 30px;
                min-width: 30%;
            }
        }

        #payment {
            margin-top: 30px;
            padding-bottom: 50px;

            h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }

            .client-details {
                margin-bottom: 30px;

                h4 {
                    font-size: 20px;

                    &.total-items {
                        margin-top: 30px;
                    }
                }
            }

            .order-summary {
                .summary-row {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto;
                    align-items: center;
                    border-bottom: 1px solid #e6e6e6;
                    padding: 1em;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .item-1 {
                        justify-self: left;
                    }

                    .item-2 {
                        justify-self: right;
                    }

                    h4, h1 {
                        margin: 0 !important;
                    }

                    &.total {
                        h1 {
                            font-size: 25px;
                            font-weight: 700;
                        }
                    }
                } 
            }

            p {
                margin-top: 20px;
                margin-bottom: 40px;
                color: #b3b3b3;
            }

            a.proceed-payment {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                background-color: $secondary-color;
                min-width: 60% !important;
                padding: 0.8em;
                border-radius: 15px;
                color: $white-color;
                transition: $transition;

                span {
                    justify-self: right;
                    font-weight: 700;
                }

                &:hover {
                    transform: scale(0.98);
                    transition: $transition;
                    color: $white-color;
                }
            }
        }
    }
}